/* SMS-UI Dashboard */
.sms-ui-dashboard {
  /*  background-image: url(images/smsdashboard-bg.gif);
    background-repeat: repeat-x;*/
}

.sms-ui-dashboard div.dashboard-top,
.sms-ui-dashboard div.dashboard-left,
.sms-ui-dashboard div.dashboard-right,
.sms-ui-dashboard div.dashboard-bottom {
  padding: 5px;
  margin: 5px;
}

.dashboard-top {
}

.dashboard-bottom {
}

.dashboard-left {
  float: left;
}

.dashboard-right {
  float: left;
}

.dashboard-clear {
  clear: both;
}

.sms-ui-dashboard a div {
  width: 324px;
  height: 134px;
  margin: 0;
  padding: 0;
  background: none no-repeat 2px 3px;
}

.sms-ui-dashboard a:hover div {
  background-position : 0 -131px;
}

.sms-ui-dashboard a div#phonebook {
  background-image: url(../images/phonebook.gif);
}

.sms-ui-dashboard a div#send-sms {
  background-image: url(../images/send-sms.gif);
}

.sms-ui-dashboard a div#business-sms {
  background-image: url(../images/business-sms.gif);
}

.sms-ui-dashboard a div#sms-credits {
  background-image: url(../images/sms-credits.gif);
}

.sms-ui-dashboard .main-story {
  padding: 10px;
  margin: 5px 320px 5px 0;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 2em;
  text-align: justify;
}

.sms-ui-dashboard .right-box {
  position: relative;
  float: right;
  width: 310px;
}

.sms-ui-dashboard .right-box a {
  text-decoration : none;
  border: none;
  text-align: center;
}

.sms-ui-dashboard .right-box-btn {
  position: relative;
  display: block;
  float: none;
  text-align: right;
  margin-right: 80px;
}
