/**
 * Styles for SMS history.
 */
.sms-history-item-list {
  display: inline-block;
  width: 40%;
  overflow: auto;
  padding: 2px;
  border: 1px #aaa solid;
  height: 360px;
}

.sms-delivery-reports {
  display: inline-block;
  font-size: .8em;
  vertical-align: top;
  width: 58%;
  width: -moz-calc(60% - 10px);
  width: -webkit-calc(60% - 10px);
  width: calc(60% - 10px);
  height: 360px;
  overflow: auto;
  padding: 2px;
  border: 1px #aaa solid;
}

.sms-history-item {
  padding: 8px;
}

.sms-history-item + .sms-history-item {
  margin: 0;
}

.sms-history-item label {
  font-weight: bold;
  font-size: .8em;
}

.sms-history-item .item {
  padding: 5px;
  background: #f9f9f9 none repeat scroll 0 0;
  border:1px solid #848486;
  color: #48484a;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.sms-history-item div.item {
  overflow: auto;
  width: 100%;
  min-height: 18px;
  max-height: 100px;
}

.sms-history-item div.item.message {
  height: 100px;
}

.sms-history-item div.item.recipients {
  height: 72px;
}

.sms-history-item > div.recipients > span {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #d4d4d4;
  padding: 1px 2px;
  margin: 1px;
  display: inline-block;
}

.sms-history-item > div.recipients > span:before {
  padding-right: 5px;
}

.sms-history-item > div.recipients > span.delivered {
  background-color: rgba(135, 255, 150, 0.35);
  border-color: #1d8f28;
}

.sms-history-item > div.recipients > span.delivered:before {
  content: '✓';
  color: #1b8224;
}

.sms-history-item > div.recipients > span.rejected,
.sms-history-item > div.recipients > span.expired,
.sms-history-item > div.recipients > span.invalid_recipient,
.sms-history-item > div.recipients > span.content_invalid {
  background-color: rgba(255, 135, 150, 0.35);
  border-color: #8f1d28;
}

.sms-history-item > div.recipients > span.rejected:before,
.sms-history-item > div.recipients > span.expired:before,
.sms-history-item > div.recipients > span.invalid_recipient:before,
.sms-history-item > div.recipients > span.content_invalid:before {
  content: '×';
  color: #841b25;
}

.sms-history-item > div.recipients > span.queued {
  background-color: rgba(251, 248, 201, 0.35);
  border-color: #6e4f36;
}

.sms-history-item > div.recipients > span.queued:before {
  content: '⧗';
  color: #6e4f36;
}
.sms-history-item > a {
  font-weight: bold;
}

.sms-history-table > tbody > tr:hover > td[data-history-id]:before,
.sms-history-table > tbody > tr.js-selected > td[data-history-id]:before {
  content: '☀';
}

.sms-history-table > tbody > tr:hover,
.sms-history-table > tbody > tr.js-selected {
  background-color: #a1f0ff1a !important;
  border: 1px dashed #456;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
