/**
 * CSS for multi-column form.
 */
.multicolumn-form {
  overflow: hidden;
  /*padding: 10px;*/
}

.multicolumn-form .left-pane {
  float: left;
  margin-top: 0;
  min-width: 200px;
  width: 40%;
}

.multicolumn-form .right-pane {
  margin-top: 0;
  float: right;
  width: 58%;
}

.multicolumn-form .right-pane:after {
  clear: both;
  display: table;
}

.multicolumn-form .right-pane-first,
.multicolumn-form .right-pane-second {
  float: left;
  padding: 0;
}

.multicolumn-form .right-pane > div {
  min-width: 120px;
  width: 48%;
  max-height: 100%;
  overflow: scroll;
}

.multicolumn-form .right-pane > div + div {
  margin-left: 10px;
}

.multicolumn-form.multicolumn-fill-up .right-pane-first.full-size {
  width: 100%
}

/** Responsive width adjustment */
@media all and (max-width: 750px) {
  .multicolumn-form .right-pane,
  .multicolumn-form .left-pane {
    width: 100%;
  }
}
