/* Styles for navigation bar */
.sidebox-sms-ui h3 {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 1.1em;
  line-height: 1.1em;
}

.sidebox-sms-ui .block-inner a:hover,
.sidebox-sms-ui .block-inner a:active,
{
  text-decoration: none;
  color: #ffff00;
}

.sidebox-sms-ui .block-inner a:link,
.sidebox-sms-ui .block-inner a:visited,
.sidebox-sms-ui .block-inner a,
{
  text-decoration: none;
  color: #ffffff;
}

.sidebox-sms-ui .block-inner li.parent a {
  color: #333333;
}

.sidebox-sms-ui .block-inner li.hover a {
  color: #333333;
}

.sidebox-sms-ui .block-inner li.parent {
  background-image: url(../images/parent-transparency.png);
  background-repeat: repeat-x;
  background-position: bottom;
  font-weight : bold;
}

/* Can't use this elegant solution that doesn't require javascript just because of crabby ie6 */
/*.sidebox-sms-ui .block-inner li:hover:not(.parent) {
  background-image: url(images/hover-transparency.png);
  background-repeat: repeat-x;
  background-position: bottom;
} */

.sidebox-sms-ui .block-inner li.hover {
  background-image: url(../images/hover-transparency.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

.sidebox-sms-ui .block-inner ul {
  margin: 0;
  padding: 0;
}

.sidebox-sms-ui .block-inner li {
  margin: 0;
  padding: 5px 10px;
  list-style: none;
  background: none;
}

.sidebox-sms-ui .block-inner {
  padding: 0;
  margin: 0;
}

.sidebox-sms-ui {
  margin: 10px 10px 10px 0;
  padding: 0;
  border: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background: #ffffff none repeat-y right;
}

.sidebox-sms-ui .menu-phonebook,
.sidebox-sms-ui .menu-0
{
  background-image: url(../images/blockblue.gif);
}

.sidebox-sms-ui .menu-send-sms,
.sidebox-sms-ui .menu-1
{
  background-image: url(../images/blockgreen.gif);
}

.sidebox-sms-ui .menu-sms-credits,
.sidebox-sms-ui .menu-2
{
  background-image: url(../images/blockblue.gif);
}

.sidebox-sms-ui .menu-business-sms,
.sidebox-sms-ui .menu-3
{
  background-image: url(../images/blockgreen.gif);
}
