/**
 * Stylesheet for sms-result.html.twig
 */

.sms-result-information {
  position: relative;
  max-height: 380px;
}

.message-summary {
  position: relative;
  overflow: scroll;
  margin-top: 2em;
}

.message-summary tr.sms-report {
  max-height: 80px;
  overflow: auto;
  font-weight:bold
}

.message-summary tr.sms-delivered {
  border: solid 2px #494;
  color: #494;
}

.message-summary tr.sms-queued {
  border: solid 1px #888;
  color: #888;
}

.message-summary tr.sms-rejected,
.message-summary tr.sms-expired,
.message-summary tr.sms-invalid_recipient,
.message-summary tr.sms-content_invalid {
  border: solid 2px #a33;
  color: #aa3333;
}

.message-summary tr a {
  text-decoration:none;
}

.message-detail {
  position: relative;
  max-height: 2em;
  overflow: scroll;
}

.message-detail span.sms-message:before {
  padding-right: 5px;
}

.message-detail span.sms-message {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #d4d4d4;
  padding: 1px 2px;
  margin: 1px;
  display: inline-block;
  font-size: .85em;
}

.message-detail span.sms-delivered:before {
  background-color: rgba(135, 255, 150, 0.35);
  border-color: #1d8f28;
}
.message-detail span.sms-delivered {
  content: '✓';
  color: #1b8224;
}

.message-detail span.sms-queued {
  background-color: rgba(251, 248, 201, 0.35);
  border-color: #6e4f36;
}

.message-detail span.sms-queued:before {
  content: '⧗';
  color: #6e4f36;
}

.message-detail span.sms-rejected,
.message-detail span.sms-expired,
.message-detail span.sms-invalid_recipient,
.message-detail span.sms-content_invalid {
  background-color: rgba(255, 135, 150, 0.35);
  border-color: #8f1d28;
}

.message-detail span.sms-rejected:before,
.message-detail span.sms-expired:before,
.message-detail span.sms-invalid_recipient:before,
.message-detail span.sms-content_invalid:before {
  content: '×';
  color: #841b25;
}
