/** Statistics block layout */
.sms-ui-statistic {
  display: block;
  position: relative;
}

.sms-ui-statistic .item-title,
.sms-ui-statistic .item-value {
  display: inline-block;
}

.sms-ui-statistic .item-title:after {
  content: ':';
}

.sms-ui-statistic .item-value {
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: 0;
  font-weight: bold;
}

.summary-block {
  border:1px solid #666f72;
  background: #ffffff;
  margin-top: 1em;
}

.summary-block .title {
  background: #808a8d;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 10px;
}

.summary-block .item {
  border-bottom: 1px solid #5f6263;
  color: #5a5b5b;
  padding: 7px 10px 7px 10px;
}

.summary-block .item:last-child {
  border-bottom: none;
}

.summary-block .item .form-item {
  margin: 0;
}

.summary-block .item select,
.summary-block .item input[type='text'],
.summary-block .item textarea {
  width: 100%;
  max-width: 100%;
}
